Django
django-admin-interface
django-cloudinary-storage
django-colorfield
django-cors-headers
django-environ
django-mailjet
django-storages
djangorestframework
djangorestframework-simplejwt
dj-database-url
dotenv
FastAPI
Starlette
Uvicorn
Gunicorn
Werkzeug
Whitenoise
Altair
Scikit-learn
Scipy
Seaborn
Matplotlib
Plotly
Pandas
Numpy
Joblib
RapidFuzz
psycopg2-binary
mysql-connector-python
PyMySQL
SQLAlchemy
sqlparse
libsql-client
bcrypt
cryptography
ecdsa
PyJWT
python-jose
rsa
passlib
djangorestframework-simplejwt
aiohttp
httpx
requests
httptools
websockets
grpcio
grpcio-status
boto3
botocore
s3transfer
cloudinary
mailjet-rest
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
GitPython
gitdb
smmap
PyAutoGUI
PyGetWindow
PyMsgBox
PyRect
PyScreeze
Pyperclip
MouseInfo
fpdf
reportlab
python-docx
openpyxl
et_xmlfile
qrcode
watchdog
watchfiles
selenium
colorama
attrs
anyio
trio
trio-websocket
outcome
sniffio
typing-extensions
typing-inspection
pathlib
six
Sphinx
sphinx-press-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
docutils
alabaster
Pygments
markdown-it-py
mdurl
roman-numerals
annotated-doc
annotated-types