Django==6.0.5
dj-database-url==3.1.2
django-environ==0.13.0
python-dotenv==1.2.2
psycopg2-binary==2.9.12
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
django-cors-headers==4.9.0
whitenoise==6.11.0
numpy
pandas
scikit-learn
openpyxl
python-docx
reportlab
matplotlib
requests
qrcode
RapidFuzz
groq
google-genai