Django
asgiref
dj-database-url
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular
joblib
matplotlib
numpy
pandas
psycopg2-binary
python-dotenv
reportlab
scikit-learn
scipy
seaborn
whitenoise
